body {
	background: rgb(200,200,200);
	font-family: Arial, verdana, Sans-Serif;
		color: #665544
		text-align: center;
	}

	#nav, #feature, .article, #ooter {
		background-color: #efefef;
		margin-top:20px;
		padding:10px 0px 5px 0px; }

		#feature, .article {
			height:100px ;}
			li {
				display:inline;
				padding: 5px;
			}

h1{
	background-color: gold; }
	* {
		font-family: Arial, verdana, Sans-Serif;
		color: #665544
		text-align: center;
	}
h2{
	background-color: ee2e80; }